@(form: Form[models.User])
@import play.i18n._
<html >
<head>
    <title>ユーザ一新規作成結果</title>
    <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("css/bootstrap.min.css"))'>
    <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))'></script>
    </head>
    <body>

    @implicitField = @{ helper.FieldConstructor(myFieldConstructorTemplate.f) }

    <div class="container">
        <h1>ユーザ一新規作成結果</h1>
        <label>以下のユーザを作成しました。</label>
        <form class="form-horizontal">
            @helper.input(form("employeeNumber")) { (id, name, value, args) =>
                <p class="form-control-static">@value</p>
            }

            @helper.input(form("firstName")) { (id, name, value, args) =>
                <p class="form-control-static">@value</p>
            }

            @helper.input(form("lastName")) { (id, name, value, args) =>
                <p class="form-control-static">@value</p>
            }

            @helper.input(form("sex")) { (id, name, value, args) =>
                <p class="form-control-static">@value</p>
            }

            @helper.input(form("birthday")) { (id, name, value, args) =>
                <p class="form-control-static">@value</p>
            }

            @helper.input(form("hireDate")) { (id, name, value, args) =>
                <p class="form-control-static">@value</p>
            }
        </form>
    </div>
    </body>
</html>